header{
    background-image: linear-gradient(to right, blue , purple);
    color: white;
    text-align: center;
    padding: 10px;
}

.c-body{
    background-color: #19425d;
    color: white;
}

#icon{
    width: 60px;
}

.c-Icon{
    width: 50px;
}